<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    table, th, td {
        border:1px solid black;

    }


    table tr.selected {
        background-color: #007bff; /* Màu nền khi được chọn */
        color: #fff; /* Màu văn bản khi được chọn */
    }
    /* CSS để thiết lập các nút cân bằng */
    .balance-button {
        width: 100px;
        height: 40px;
        margin: 10px;
        font-size: 16px;
    }
</style>
<body>
<table class="table1">
    <thead>
    <tr>

        <th>ID</th>
        <th>name</th>
        <th>Address</th>
        <th>about</th>
        <th>phone</th>
        <th>webURL</th>
        <th>email</th>
        <th>Post recruitment</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${companies}">
        <td th:text="${item.getId()}"></td>
        <td th:text="${item.getName}"></td>
        <td th:text="${item.getAddress().getId()}"></td>
        <td th:text="${item.getAbout()}"></td>
        <td th:text="${item.getPhone()}"></td>
        <td th:text="${item.getWebURL()}"></td>
        <td th:text="${item.getEmail()}"></td>
        <td><a href="/FormRecruitment">Post recruitment</a></td>

    </tr>
    </tbody>
    <h1>sssss</h1>
</table>
</body>
</html>